@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@theme {
  --color-header-dark: #2b3844;
  --color-open: #fff;

  --shadow-header: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  --shadow-input: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  --shadow-filter: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  --shadow-country: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  --shadow-back: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  --shadow-borders: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);

  --breakpoint-mb: 375px;
  --breakpoint-dk: 1440px;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

body.dark {
  background-color: #202c36;
}
